/* Remove default bullets */
ul {
    list-style-type: none;
}

/* Hide the nested list */
.nested {
    display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
    display: block;
}

html {
    position: relative;
    min-height: 100%;
    margin: 1vh 2vw;
}

/* Set font to monospace */
body {
    margin: auto auto 100px;
    max-width: 1024px;
    font-family: monospace, monospace;
    color: gray;
    background-color: #121212;
}

a {
    font-family: monospace, monospace;
    color: gray;

    text-decoration: underline dotted;
}

footer {
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0 0;
}

button, option, select, input {
    font-family: monospace, monospace;
    background-color: gray;

}

.caret {
    cursor: pointer;
}

.highlight {
    font-weight: bold;
}

.expandable::before {
    content: '+ ';
}

.collapsable::before {
    content: '- ';
}

input::placeholder {
    color: #444444;
}

#imprint {
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 25px;
}

#preLogin {
    max-width: 1024px;
    text-align: justify;
    overflow: hidden;
}

#postLogin {
    max-width: 1024px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
     body {
         margin-bottom: 150px;
         font-size: 2vh;
     }
    button, option, select, input {
        font-size: 2vh;
    }
    #viewManageGenres {
        display: none;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #viewManageGenres {
        display: none;
        float: right;
    }
}

#buttonLogin {
    float: right;
}

#buttonLogout {
    float: right;
}

#subtitle {
    text-indent: 10%;
}

.hidden {
    display: none;
}